@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --neon-green: #39ff14;
  --neon-blue: #4d4dff;
  --neon-purple: #aa72ff;
  --neon-pink: #ff6ac1;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-neon-green {
    color: var(--neon-green);
  }
  .text-neon-blue {
    color: var(--neon-blue);
  }
  .text-neon-purple {
    color: var(--neon-purple);
  }
  .text-neon-pink {
    color: var(--neon-pink);
  }
  .bg-neon-green {
    background-color: var(--neon-green);
  }
  .bg-neon-blue {
    background-color: var(--neon-blue);
  }
  .bg-neon-purple {
    background-color: var(--neon-purple);
  }
  .bg-neon-pink {
    background-color: var(--neon-pink);
  }
  .border-neon-green {
    border-color: var(--neon-green);
  }
  .border-neon-blue {
    border-color: var(--neon-blue);
  }
  .border-neon-purple {
    border-color: var(--neon-purple);
  }
  .border-neon-pink {
    border-color: var(--neon-pink);
  }
}
